<!DOCTYPE html>
<html ng-app="NewApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<body style="background-color: #7ec0ee ">


<div class ="container" ng-controller="NewAppctrl" align="center" style="background-color: #7ec0ee ">
 
<form method="POST" class="noteform">
	<label for="notetext">Note</label>
	<input type="text" name="notetext" size="30" placeholder="........" >
	<input type="submit" name="createnote" value="Save">
	<p>{{name}}</p>
</form>
<p>{{name}}</p>

</div>

</body>
</html>